---
layout: base
---

<div id="cover">
	<div class="container">
		<div class="row pt-4 justify-content-center">
			<div id="cover-img">
				<img src="{{ site.baseurl }}/static/cover.png" class="img-fluid">
			</div>
		</div>
	</div>
</div>

<div id="lower" class="container">
	<div class="row">
		<div class="col-12 col-md-6">
			<h3>Where?</h3>
			<p>
				We will meet at <a href="https://goo.gl/maps/uVfrzSokAdn">Locked in Edinburgh (1 Summerhall Place)</a>.
				<br>Wednesday 30th January 2019, 6:45pm.
			</p>
		</div>

		<div class="col-12 col-md-6">
			<h3>What?</h3>
			<p>
				Come bring your leet hacker skills and join SIGINT as we face the challenge of breaking out of a room.
				See <a href="{{ site.data.settings.facebook }}">Facebook</a>.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
			<h3>How much does it cost?</h3>
			<p>Just five pounds! We are covering the rest of the costs.</p>
		</div>

		<div class="col-12 col-md-6">
			<h3>How many friends can I bring?</h3>
			<p>We only have 23 tickets... so you can bring a couple.</p>
		</div>
	</div>
</div>

<div class="container pt-4 mb-5">
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<form class="card" id="payment-form">
				<div class="card-header">Buy Ticket</div>
				<div class="card-body">
					{% include form.html %}
				</div>
			</form>
		</div>
	</div>
</div>

{% include modal.html %}

<!-- Unfortunately we need jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script src="https://js.stripe.com/v3"></script>
<script src="{{ site.baseurl }}/static/script.js"></script>
