---
layout: base
---

<div id="cover">
	<div class="container">
		<div class="row pt-4 justify-content-center">
			<div id="cover-img">
				<img src="{{ site.baseurl }}/static/cover.png" class="img-fluid">
			</div>
		</div>
	</div>
</div>

<div id="lower" class="container">
	<div class="row">
		<div class="col-12 col-md-6">
			<h3>Where?</h3>
			<p>We will meet at <a href="https://goo.gl/maps/uVfrzSokAdn">Locked in Edinburgh (1 Summerhall Place)</a>.</p>
		</div>

		<div class="col-12 col-md-6">
			<h3>What?</h3>
			<p>Come bring your leet hacker skills and join SIGINT as we face the challenge of breaking out of a room.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
			<h3>How much does it cost?</h3>
			<p>Just five pounds! We are covering the rest of the costs.</p>
		</div>

		<div class="col-12 col-md-6">
			<h3>How many friends can I bring?</h3>
			<p>We only have 23 tickets... so you can bring a couple.</p>
		</div>
	</div>
</div>

<div class="container pt-4">
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<form class="card">
				<div class="card-header">Buy Ticket</div>
				<div class="card-body">
					{% include form.html %}
				</div>
			</form>
		</div>
	</div>
</div>

{% include modal.html %}

<script src="https://js.stripe.com/v3"></script>
<script src="{{ site.baseurl }}/static/script.js"></script>
